API_PUBLISH_PORT=8000
API_HOST=0.0.0.0
MODEL_STORE_ROOT=/artifacts/models
HF_HUB_CACHE=/artifacts/hf_cache
RUNTIME=nvidia

POSTGRES_HOST=postgres
POSTGRES_PORT=5432
POSTGRES_DB=orgloc
POSTGRES_USER=orgloc
POSTGRES_PASSWORD=orgloc

GRAFANA_PORT=3000
GRAFANA_PUBLIC_URL=http://localhost:${GRAFANA_PORT}
GRAFANA_URL=http://grafana:${GRAFANA_PORT}
GRAFANA_ADMIN_DEFAULT_USER=admin_us
GRAFANA_ADMIN_DEFAULT_PASSWORD=admin_pass
GRAFANA_DS_NAME=PostgreSQL
GRAFANA_DS_UID=postgres_main
GRAFANA_TECH_USER_LOGIN=tech
GRAFANA_TECH_USER_PASSWORD=supersecret
GRAFANA_TECH_USER_NAME=Tech_User
GRAFANA_TECH_USER_ROLE=Admin
GRAFANA_AUTH_DISABLE_LOGIN_FORM=true
GRAFANA_AUTH_ANONYMOUS_ENABLED=true
GRAFANA_AUTH_ANONYMOUS_ORG_ROLE=Admin

HF_TOKEN=hf_YOUR_TOKEN
HUGGINGFACE_HUB_TOKEN=${HF_TOKEN}