services:
  api-dev:
    build:
      context: ..
      dockerfile: ./Dockerfile
    container_name: api-dev
    working_dir: /app
    command: tail -f /dev/null
    volumes:
      - venv-cache:/opt/venv
      - ..:/app:rw
      - ../${MODEL_STORE_ROOT:-/artifacts/models}:${MODEL_STORE_ROOT:-/artifacts/models}:rw
      - ../${HF_HUB_CACHE:-/artifacts/hf_cache}:${HF_HUB_CACHE:-/artifacts/hf_cache}:rw
      - vscode-extensions:/root/.vscode-server/extensions
    environment:
      PYTHONUNBUFFERED: "1"
      PYTHONDONTWRITEBYTECODE: "1"
      PYTHONPATH: "/app"
    deploy:
      resources:
        reservations:
          devices:
            - capabilities: [gpu]
    runtime: ${RUNTIME:-nvidia}

volumes:
  vscode-extensions: {}
  venv-cache: {}